.lightOpacity > div {
    opacity: 0.5 !important;
}
.normalOpacity > div {
    opacity: 1.0 !important;
}
.play {
    max-width:80%;

}

.ideas {
    font-family: HelveticaBold !important;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 0.05em !important;
    color: #f9f9f9 !important;

}