.lightOpacity > div {
    opacity: 0.5 !important;
}
.normalOpacity > div {
    opacity: 1.0 !important;
}
.play {
    max-width:80%;

}

.ideas {
    font-family: HelveticaBold !important;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 0.04em !important;
    line-height: normal;
    letter-spacing: 0.05em !important;
    color: #f9f9f9 !important;

}

.bigboy {
    height: 100%;
    width: 100%;
    padding-top: .5rem;
}

.zoom1 {
    transition: transform .5s; /* Animation */
 
  }
  
  .zoom1:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }


  .landit {
    
    font-family: HelveticaBold;
    margin-top: 2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 340%;
    
    /* identical to box height */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    color: transparent;
    text-align: center;
    
}