.about {
    
    font-family: HelveticaBold;
    margin-top: 2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 150px;
    line-height: 182px;
    /* identical to box height */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    color: transparent;
    
}


.meet {
    font-family: HelveticaBold !important;
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 182px !important;
    letter-spacing: 0.04em !important;
    color: #f9f9f9 !important;
    text-align: left;
  }