.event {
    
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
.events {
    
    font-family: HelveticaBold;
    font-style: normal;
    font-weight: 500;
    font-size: 150px;
    line-height: 182px;
    /* identical to box height */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    color: #121212;
    
}
    color: transparent;
    
}

.box {
    background: #FFFFFF;
    border-radius: 50px;

  
    width: 18%;
    height: 60%;
}

.twenty {
    font-family: HelveticaBold !important;
    font-weight: 200;
    font-size: 50px;
    color: #151515 !important;
    letter-spacing: 0.04em !important;

    height: 60%;

  } 

.sub {
    font-family: HelveticaBold !important;
    font-weight: 200;
    font-size: 20px;
    color: white !important;
    letter-spacing: 0.04em !important;

    height: 60%;

  } 
