.event {
    
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 150px;
    line-height: 182px;
    /* identical to box height */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    color: #121212;
    
}
