
@media (max-width:767px) {
  .imgTest {
    max-width:40%;
    margin-top:0;
    margin-bottom:0;
  }
  .navbar-brand {
    display: contents !important;
  }
}
@media (min-width:768px) {
  .imgTest {
    max-width: 25%;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
  }
}
.myNav {
  background-color:white !important;
  z-index: 999;
}
.myNav2 {
  background-color: #121212;
  z-index: 999;
}
.navBrand {
  margin-left: 2rem;
  cursor: pointer;
}
.navLinks {
  color: black !important;
  margin-left: 2rem !important;
  font-size: 1.5rem !important;
  margin-right: 1rem !important;
  text-align: right;
}
.navLinks2 {
  color: white !important;
  margin-left: 2rem !important;
  font-size: 1.5rem !important;
  margin-right: 1rem !important;
  text-align: right;
}
.nav-link:hover {
  text-decoration: underline !important;
}
.navbar-toggler {
  background-color: white !important;
}
.navbar-collapse > div > div {
  margin: 2rem !important;
}
.navbar-dark {
  /* background-color: transparent !important; */
  border-color:  white !important;
}
.navbar-light {
  /* background-color: transparent !important; */
  border-color:  #121212 !important;
  /* border-color: transparent !important; */
}

.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
  height: auto;
  width: auto;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}