.footer{
    padding: 2rem;
    margin-top: 2rem;
    justify-content: center;
    
}

.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.center {
    justify-content: center;
}

.text1 {
  font-family: Karla !important;
  font-size: 70%;
  line-height: 50% !important;
  color: #fcfcfc !important;
  letter-spacing: 0.04em !important;
  padding-left: 23%;
}